---
import NotificationError from "../components/Notifications/NotificationError.astro";
import NotificationSuccess from "../components/Notifications/NotificationSuccess.astro";
import Layout from "../layouts/Layout.astro";




---
<Layout title="Login">
    <div class="bg-gray-100 flex justify-center items-center h-screen">
        <!-- Left: Image -->
    <div class="w-1/2 h-screen hidden lg:block">
      <img src="/assets/Images/Logo/logo.png" alt="Placeholder Image" class="h-screen flex items-center justify-center object-scale-down">
    </div>
    <!-- Right: Login Form -->
    <div class="lg:p-36 md:p-52 sm:20 p-8 w-full lg:w-1/2">
      <h1 class="text-2xl font-semibold mb-4">Login</h1>
      <form action="#" method="POST">
        <!-- Username Input -->
        <div class="mb-4">
          <label for="email" class="block text-gray-600">Email</label>
          <input type="text" id="email" name="email" class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-primary-500" autocomplete="off">
        </div>
        <!-- Password Input -->
        <div class="mb-4">
          <label for="password" class="block text-gray-600">Password</label>
          <input type="password" id="password" name="password" class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-primary-500" autocomplete="off">
        </div>
        <!-- Remember Me Checkbox -->
        <div class="mb-4 flex items-center">
          <input type="checkbox" id="remember" name="remember" class="text-primary-500">
          <label for="remember" class="text-gray-600 ml-2 font-bold">Remember Me</label>
        </div>
        <!-- Forgot Password Link -->
        <div class="mb-6 text-primary-500">
          <a href="#" class="hover:underline font-bold">Forgot Password?</a>
        </div>
        <!-- Login Button -->
        <button id = "btnLogin"  class="bg-primary-500 hover:bg-primary-600 text-white font-semibold rounded-md py-2 px-4 w-full">Login</button>
      </form>
      <!-- Sign up  Link -->
      <div class="mt-6 text-primary-500 text-center">
        <a href="#" class="hover:underline">Sign up Here</a>
      </div>
    </div>
    </div>

    <NotificationError id="errorLogin", title="Credenciales Incorrectas"/>
    <NotificationSuccess id="successLogin", title="Credenciales Correctas"/>


</Layout>


<script>
import UserService from "../../public/Services/UserService";
import ResponseObject from "../../public/Utils/Response";
import NavigationRouting from "../../public/Utils/NavigatorRouting"




  

  function showToast(id) {
    const toast = document.getElementById(id);
    toast.classList.remove('hidden');
    setTimeout(() => {
        toast.classList.add('hidden'); // Hide after 3000 milliseconds
    }, 3000);
}


// EVENT ON CLICK BUTTON LOGIN
document.querySelector('#btnLogin').addEventListener('click', async function(e)  {
  
  
        e.preventDefault();
        const username = (document.getElementById('email') as HTMLInputElement).value;
        const password = (document.getElementById('password') as HTMLInputElement).value;
        let userLogin =  await UserService.login(username, password);
        if(userLogin.status > 300){
          showToast("errorLogin");
        }
        else{
          showToast("successLogin");
          NavigationRouting.navigateTo("/");
        }

    }); 
</script>